
  
  <ul class="list-group">
    <li class="list-group-item list-group-item-warning">
			<h3><%= t("article.edit_article")%></h3>
		</li>
	</ul>

<%= render 'form' %><br>


<%= link_to t("menu.back"), @offer, class: "btn btn-lg btn-warning" %>


