



<%= render 'form' %><br>

  <div class="row")>
    <div class="col-md-4">

				<%= link_to t("menu.cancel"), box_path(@boxdetail.box), class: "btn btn-block btn-default pull-left" %>

		</div>
	</div>


