<h2>Cher(e) <%= @offer.organizer.full_name %></h2><br>

<p>Nous avons bien reçu votre confirmation pour l'offre de service concernant l'événement suivant: <b><%= @offer.event.event_name %></b></p>

<p>Pour valider et préparer la commande, nous vous invitons à suivre le lien suivant pour télécharger votre facture d'accompte.<br>

	http://clients.rekwup.be/invoices/<%= @invoice.id %>.pdf

<p>N'hésitez pas à nous contacter si vous désirez davantage d'explications.</p>

<p>Bien à vous,</p><br>

<p class="signature">L'équipe Rekwup</p>