<ul class="list-group">

  <li class="list-group-item list-group-item-warning">
		<strong>Evenements après juillet</strong>
	</li>

	<% Event.where("event_start_date > ?", Date.today).each do |event| %>

  <li class="list-group-item">
  	<div class="row">
  		<div class="col-md-4">
  			<%= event.event_name %>
  		</div>
  		<div class="col-md-2">
  			<%= event.event_start_date.strftime("%d/%m/%Y") %>
  		</div>
  		<div class="col-md-2">
  			<%= event.organizer.full_name %>
  		</div>
  		<div class="col-md-2">

  		</div>

  	</div>
		
	</li>

	<% end %>


</ul>

  