<ul class="list-group">

  <li class="list-group-item list-group-item-warning">
		<strong>Evenements après juillet</strong>
	</li>

	<% Event.where("start_date > ?", Date.today).each do |event| %>

  <li class="list-group-item">
  	<div class="row">
  		<div class="col-md-4">
  			<%= event.event_name %>
  		</div>
  		<div class="col-md-4">
  			<%= event.start_date %>
  		</div>
  		<div class="col-md-4">
  			<%= event.organizer.full_name %>
  		</div>  		
  	</div>
		
	</li>

	<% end %>


</ul>

  