<div class="invoice-background">

<% if @invoice.doc_invoice && @invoice.after_event && @invoice.lln_week_invoice == nil %>

	<%= render 'after_event_pdf' %>

<% end %>

<% if @invoice.doc_invoice && @invoice.confirmation %>

	<%= render 'deposit_pdf' %>

<% end %>

<% if @invoice.lln_week_invoice %>

	<%= render 'lln_pdf' %>

<% end %>


</div>