



    <% if current_user.client.blank? && current_user.admin.blank? && current_user.staff.blank? %>

      <%= render 'new_user' %>

    <% end %>

    <% if current_user.client %>

      <%= render 'client' %>

    <% end %>

    <% if current_user.staff %>

      <%= render 'client' %>

    <% end %>

    <% if current_user.admin %>

      <%= render 'admin' %>


    <% end %>

</div>

