<h2><%= t("box.edit_box") %></h2>

<%= render 'form' %><br>

<%= link_to t("box.fill_box"), @box, class: "btn btn-lg btn-primary" %><br><br>
<%= link_to t("menu.back"), boxes_path, class: "btn btn-lg btn-warning" %>
