<div class="container-fluid"><br>

  <% if @user.client %>

    Information à déterminer

  <% else %>

    <% if @user.admin %>
      <%= link_to t("box.new_box"), new_box_path, class: "btn btn-success" %><br>
    <% end %>



    <ul class="list-group">
      <br><li class="list-group-item list-group-item-default"><h4><strong>
        <%= t("box.listing_boxes") %></strong></h4></li>
    </ul>

    <% @boxes.each do |box| %>

    <div class="row">
      <div class="col-xs-6 col-md-4">
     <%= link_to box.box_name, box_path(box), class: "btn btn-lg btn-default btn-block" %>
      </div>

    </div>
    <% end %>
  <% end %>

</div>

