<div class="container-fluid more-padding">
	<ul class="list-group">

		<li class="list-group-item list-group-item-info">
			<h2><%= t("event.create_event") %></h2>
		</li>

		<li class="list-group-item">
			<h4><%= t("event.create_event_explanation") %></h4>
		</li>
		
		<%= render 'form' %>

</div>

