<div class="container-fluid more-padding">


<% if @sorting.return_box.washes.where.not(:start_time => nil).count == 0 %>
                      <h4><%= t("wash.no_wash") %></h4>
<% else %>

Ce retour peut être trié
<% end %>

</div>