<h2><%= t("negociated_price.edit") %></h2>

<%= render 'form' %>

<%= link_to t("menu.show"), @event, class: "btn btn-default" %>
<%= link_to t("menu.back"), events_path, class: "btn btn-default" %>

