<ul class="list-group">
	<li class="list-group-item">
		<div class="row">
			<div class="col-md-2">
				Article
			</div>
			<div class="col-md-2">
				Février			
			</div>
			<div class="col-md-2">
				Mars		
			</div>
			<div class="col-md-2">
				
			</div>
			<div class="col-md-2">
				
			</div>
			<div class="col-md-2">
				
			</div>					
		</div>		
	</li>
		<% @cups.each do |article| %>

			<li class="list-group-item">
				<div class="row">
					<div class="col-md-2">
						<%= article.full_name %>
					</div>
					<div class="col-md-2">
						<%= article.total_fevrier %>
					</div>
					<div class="col-md-2">
					</div>
					<div class="col-md-2">
						
					</div>
					<div class="col-md-2">
						
					</div>
					<div class="col-md-2">
						
					</div>					
				</div>
			</li>

		<% end %>
</ul>



	
	<br>




<% @march.each do |sorting| %>

	<%= sorting.id %>
	<%= sorting.created_at.strftime('%d/%m/%Y') %><br>

<% end %>