<ul class="list-group">
	<li class="list-group-item">
		<div class="row">
			<div class="col-md-2">
				Article
			</div>
			<div class="col-md-1">
				Février			
			</div>
			<div class="col-md-1">
				Mars		
			</div>
			<div class="col-md-1">
				Avril
			</div>
			<div class="col-md-1">
				Mai
			</div>
			<div class="col-md-1">
				Juin
			</div>					
		</div>		
	</li>

	<li class="list-group-item">
		<div class="row">
			<div class="col-md-2">
				<%= @cctwenty.full_name %>
			</div>
			<div class="col-md-1">
				<%= @cctwenty.total_march %>
			</div>			
		</div>
	</li>

</ul>

