<ul class="list-group">

	<li class="list-group-item">
		<div class="row">
			<div class="col-md-2">
				<%= @cctwenty.full_name %>
			</div>
			<div class="col-md-4">
				<%= @cctwenty.total_june %> - <%= @cctwenty.total_july %>
			</div>			
		</div>
	</li>

</ul>

