<% if user_signed_in? %>
  <li><%= link_to t("menu.edit_account"), edit_user_registration_path %></li>
<% else %>
  <li><%= link_to t("menu.sign_in"), new_user_session_path %></li>
  <li><%= link_to t("menu.sign_up"), new_user_registration_path %></li>
<% end %>

