<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: "Lucida Grande", arial, sans-serif;
        margin: 0 auto;
        width: 632px;
        font-size: 1em;
      }
      #content {
        border: 1px solid #eee;
        padding: 20px;
      }
      h1 {
        display: inline;
      }
      p.tagline {
        display: inline;
      }
      h2 {
        margin: 0 0 15px;
        padding: 0;
        color: #666;
        font-size: 1.8em;
        font-weight: bold;
      }
      p {
        color: #666;
        font-size: 1.2em;
        font-weight: bold;
        padding: 10px;
      }
      p.signature {
        color: #545454;
      }
    </style>
  </head>
  <body>
    <div class="wrap">
      <h1>
        <img src="http://shaipz.com/assets/shaipz_logo.png" alt="Rekwup logo">
      </h1>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
