
  <ul class="list-group">
    <li class="list-group-item list-group-item-warning">
        <h5><strong><%= l(Date.today, format: '%A %d %B %Y') %></h5></strong>
    </li>
  </ul>

<% if current_user.admin %>

<%= render 'admin_index' %>

<% end %>

<% if current_user.staff %>

<%= render 'staff_index' %>

<% end %>



